body {
    text-align: center;
    background-image: url("/images/arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    margin: 25px;
}
 h1{
     color:wheat;
     margin: 0px;
     font-size: xx-large;
 }
 .dropdown-menu{
    text-align: center;
    background-color: inherit;
 }
 .dropdown-menu img{
     height:100px;
 }